{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "quoteProps": "consistent",
  "trailingComma": "all",
  "semi": false,
  "singleQuote": true
}
