name: 'IaC - Quality Check'

on:
  pull_request:
    branches: [main]
    paths: [infrastrucutre/**]
  workflow_dispatch:
    

defaults:
  run:
    working-directory: infrastrucutre

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout repository
          uses: actions/checkout@v2
        - run: pip install -r requirements-dev.txt
        - run: pytest --cov=./ --cov-report=xml
        - uses: codecov/codecov-action@v2
          with:
            token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
            working-directory: ./infrastrucutre/
            files: ./coverage.xml # optional
            flags: unittests # optional
            name: webapp # optional
            fail_ci_if_error: true # optional (default = false)
        - name: cdk diff
          uses: youyo/aws-cdk-github-actions@v2
          with:
            cdk_subcommand: 'diff'
            actions_comment: true
            working_dir: "infrastrucutre"
          env:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_CICD_IAC }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_CICD_IAC }}
            AWS_DEFAULT_REGION: 'eu-central-1'
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}